<div class="paginaCompleta" [formGroup]="datos_pedido">
    <div class="formulario-pedido">
        <span class="nuevo-pedido">Nuevo Pedido</span>
        <div class="inputs-formulario">
            <div class="grid-container">
                <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round label-input" *ngFor="let campo of camposFormulario; let i = index">
                    <label [for]="campo.formControlName" class="label">{{ campo.label }}:</label>
                    <input [type]="campo.type" pInputText [formControlName]="campo.formControlName" class="input"/>
                </div>
            </div>
        </div>
        <div class="comentarios">
            <label for="comentarios" class="label">Comentarios:</label>
            <textarea pInputTextarea formControlName="comentarios" class="input" [autoResize]="true"></textarea>
        </div>
        <div class="boton-enviar">
            <p-button label="Enviar" severity="secondary" (onClick)="enviarPedido()"></p-button>
        </div>
    </div> 
    <div class="lista-pedidos">
        <app-tabla [columnas]="columnas" [boton_buscar_fecha_hora]="true" (dateTimeSelected)="getListaPedidos($event)"></app-tabla>
    </div>
</div>
