.paginaCompleta {
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-color: gray;
}
.formulario-pedido {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 500px;
    min-width: 600px;
    background-color: white;
}
.nuevo-pedido {
    font-size: 30px;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    margin-top: 20px;
}
.inputs-formulario {
    display: flex;
    justify-content: center;
    margin: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    margin-top: 40px;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lista-pedidos{
    display: grid;
    overflow-y: auto;
    border-radius: 5px;
    height: 90%;
    background-color: white;
}
.nuevo-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
}

.label-input {
    display: grid;
    grid-template-rows: 50% 50%;
}
.label {
    margin-left: 5%;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.comentarios{
    display: grid;
    grid-template-rows: 20% 80%;
}
.input {
    width: 90%;
    margin-left: 5%;
}
.boton-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: inherit;
    align-items: start;
}