<div class="boton-buscar" *ngIf="boton_buscar_fecha_hora">
    <input type="datetime-local" class="datetime-input" [(ngModel)]="selectedDateTime"/>
    <button class="search-button" (click)="sendDateTime()">Buscar</button>
</div>


<p-table [columns]="columnas" [value]="parametros.datos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>